@media only screen and (max-width: 1024px) {
    .row {
        margin: 0 18px;
    }

    .skill-section .box {
        margin-left: 11rem;
    }

    .skill-section .box:first-child {
        margin-left: 3rem;
    }

    .main-nav {
        display: none;
    }

    html {
        font-size: 57.5%;
    }

